<!doctype html>
<html>
<head>
<script src="../static/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="../static/bootstrap.css">
<meta charset='UTF-8'/>
<meta name='viewport'
      content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<html lang="en">
</head>
<title>Financial Logger</title>
<body>
<br>
<center>
<!---
<p>
    {% if theExpense %}
    The expense you entered is {{theExpense}}
    update it in the form below:
    {% else %}
    Please enter your expense:
    {% endif %}
</p>
-->
<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.theExpense.label }}{{ form.theExpense() }}
    <br>
    {{ form.expenseAmount.label }}{{ form.expenseAmount() }}   
    <br> 
    {{ form.expenseAbout.label }}{{ form.expenseAbout() }}  
    <br>
    {{ form.submit() }}
</form>


<!--
<form>
<h2>Input the expense:</h2>
Expense: <input type="text" name="" value=""><br>
Amount: <input type="number" name="" value=""><br>
Primary Category: <select name="primaryexpensecategory">
    <option value="CATEGORY1">CATEGORY 1</option>
    <option value="CATEGORY2">CATEGORY 2</option>
    <option value="CATEGORY3">CATEGORY 3</option>
</select><br>

Secondary Category: <select name="secondaryexpensecategory">
    <option value="CATEGORY1">CATEGORY 1</option>
    <option value="CATEGORY2">CATEGORY 2</option>
    <option value="CATEGORY3">CATEGORY 3</option>
</select><br>
<textarea name="comments" rows="2" cols="45"></textarea><br>

<input type="submit" name="" value="Submit Expense"><br>
</form>
-->
</body>
<hr class="new1">
<footer>
<p>🔥 Hand written by Sam Luyk. Code here: 
<a href="https://github.com/samluyk/PyLedger">https://github.com/samluyk/PyLedger</a> 🔥 </p>
<h4> v0.1 </h4>
</br>
</footer> 
</html>
