<!doctype html>
<html>
<head>
<script src="../static/jquery-3.5.1.min.js"></script>
<link rel="stylesheet" href="../static/bootstrap.css">
<meta charset='UTF-8'/>
<meta name='viewport'
      content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
<link rel="stylesheet" type="text/css" href="../static/style.css">
<html lang="en">
</head>
<title>Financial Logger</title>
<body>
<br>
<center>

<form method="POST">
    {{ form.hidden_tag() }}
    {{ form.theExpense.label }}{{ form.theExpense() }}
    <br>
    {{ form.expenseAmount.label }}{{ form.expenseAmount() }}   
    <br> 
    {{ form.expenseAbout.label }}{{ form.expenseAbout() }}  
    <br>
    {{ form.submit() }}
</form>


</body>
<hr class="new1">
<footer>
<p>🔥 Hand written by Sam Luyk. Code here: 
<a href="https://github.com/samluyk/PyLedger">https://github.com/samluyk/PyLedger</a> 🔥 </p>
<h4> v0.1 </h4>
</br>
</footer> 
</html>
